-var icon =["images/icon-online.svg", "images/icon-budgeting.svg", "images/icon-onboarding.svg", "images/icon-api.svg"]
-var ref =["images/image-currency.jpg", "images/image-resaurant.jpg", "images/image-plane.jpg", "images/image-confetti.jpg"]
-var titles = ['Home', 'About', 'Contact', 'Blog', 'Carrees']
-var href= ["images/icon-facebook.svg", "images/icon-youtube.svg", "images/icon-twitter.svg", "images/icon-pinterest.svg", "images/icon-instagram.svg"]
mixin socialIcons(href)
  img(src=""+href, alt="")

mixin features(icon, title, text)
  article
    img(src=""+icon, alt="")
    h4=title
    p=text

mixin articles(ref, p, title, text)
  article
  img(src=""+ref, alt="")
  p=p
  h4=title
  p=text