-var icon =["images/icon-online.svg", "images/icon-budgeting.svg", "images/icon-onboarding.svg", "images/icon-api.svg"]
-var ref =["images/image-currency.jpg", "images/image-restaurant.jpg", "images/image-plane.jpg", "images/image-confetti.jpg"]
-var titles = ['Home', 'About', 'Contact', 'Blog', 'Carrees']
-var titles2 = ['Home', 'About', 'Contact', 'Blog', 'Carrees', 'Privacy Policy ']
-var href= ["images/icon-facebook.svg", "images/icon-youtube.svg", "images/icon-twitter.svg", "images/icon-pinterest.svg", "images/icon-instagram.svg"]
mixin socialIcons(href)
  embed(src=""+href, alt="")

mixin features(icon, title, text)
  article
    img(src=""+icon, alt="")
    h4=title
    p=text

mixin articles(ref, p, title, text)
  div.article
    article
      img(src=""+ref, alt="")
    article.article__text
      small=p
      h4=title
      p=text